@model IEnumerable<Domain.DTOs.Food>

<h2>Foods</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Active</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    @foreach (var food in Model)
    {
        <tr>
            <td>@food.Name</td>
            <td>@food.Description</td>
            <td>@food.Price</td>
            <td>@(food.Active ? "Yes" : "No")</td>
            <td><img src="data:image/jpeg;base64,@food.ImageBase64" style="max-height: 100px; max-width: 100px;" /></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = food.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = food.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Add New Room", "Add", null, new { @class = "btn btn-success" })
